.body-content {
    margin-top: 1em;
    padding: 0 14%;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    overflow: hidden;
}

.about{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.part-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 26, 26, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 85vw;
    padding: .4em;
}

.part-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(27, 26, 26, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 85vw;
    padding: .4em;
}

#bigger-number{
    font-size: 60px;
    font-weight: 900;
    color: #40c9ff;
}

.about h5 {
    margin-top: 1em;
    color: rgb(131, 111, 255);
    font-size: xx-large;
    letter-spacing: 1.6px;
}

.about p {
    margin-top: 1em;
    font-size: large;
}

.explanation{
    margin-top: 1em;
    padding: 0 14%;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.explanation h5{
    font-weight: 600;
    font-size: 43px;
    letter-spacing: 2px;
    color: #40c9ff;
}

.explanation p{
    text-align: center;
    font-size: 28px;
}

@media only screen and (min-width: 1020px){
    .about{
        display: flex;
        flex-direction: row;

    }

    .part-1{
        width: 40vw;
    }

    .part-2{
        width: 40vw;
    }
}