.imageList-container{
    display: flex;
    flex-direction: row;
    gap: 1.3em;
}


.imageList-images{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    gap: .5em;
    justify-content:center ;
    
}

.imageList-container img:hover{
    box-shadow: 0 -5px 80px -5px rgb(255, 255, 255);
}

.imageList-images img{
    border-radius: 10px;
}

