.home-intro{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.home-header-title{
    margin: 1em;
    background: unset;
    font-family: "Caprasimo", serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(249, 219, 187);
    font-size: larger;
}

.slogan{
    position: absolute;
    color: rgb(249, 219, 187);
    font-size: xx-large;
    font-family: "Caprasimo", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    width: 130px;
    top: 35%;
    background-color: unset;
}

.fondo{
    filter: blur(2px);
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.home-header{
    width: 100vw;
    height: 10vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: unset;
    z-index: 100;

}

.home-header img{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin: .5em;
}

