.gallery-carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.list-item{
    position: absolute;
    inset: 0 0 0 0;
    
}

.list-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-item .item-content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px black;
    background: unset;
}

.list-item .item-content .item-description{
    background: unset;
}

.list-item .item-content .item-author{
    font-weight: bold;
    letter-spacing: 10px;
    background: unset;
}

.list-item .item-content .item-title,
.list-item .item-content .item-category{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
    background: unset;
}

.list-item .item-content .item-category{
    color: red;
}

.list-item .item-content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    background: unset;
}

.item-content button{
    border: none;
    background-color: white;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.item-content button:nth-child(2){
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/*THUMBNAIL*/

.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    background: unset;
}

.thumbnail .list-item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
    background: unset;
}

.thumbnail .list-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .list-item .item-content{
    position:absolute;
    bottom:10px;
    left: 10px;
    right: 10px;
    background: unset;
}

.thumbnail .list-item .item-content .item-title{
    font-weight: bold;
    font-size: medium;
    background: unset;
}

/*ARROWS*/

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}

.arrows button:hover{
    background-color: white;
    color: grey;
}

.gallery-carousel .carousel-list .list-item:nth-child(1){
    z-index: 1;
} 

.gallery-carousel .carousel-list .list-item:nth-child(1) .item-author,
.gallery-carousel .carousel-list .list-item:nth-child(1) .item-title,
.gallery-carousel .carousel-list .list-item:nth-child(1) .item-description,
.gallery-carousel .carousel-list .list-item:nth-child(1) .item-category,
.gallery-carousel .carousel-list .list-item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter:blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.gallery-carousel .carousel-list .list-item:nth-child(1) .item-title{
    animation-delay: 1.2s;
}

.gallery-carousel .carousel-list .list-item:nth-child(1) .item-category{
    animation-delay: 1.4s;
}

.gallery-carousel .carousel-list .list-item:nth-child(1) .item-description{
    animation-delay: 1.6s;
}

.gallery-carousel .carousel-list .list-item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}

/*CLICK EFFECTS*/

.gallery-carousel.next .carousel-list .list-item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.gallery-carousel.next .thumbnail .list-item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

.gallery-carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}