*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Madimi One", sans-serif;
}
:root{
  --bg-color: black;
  --text-color: #fff;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

