form {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #40c9ff;
    gap: 1em;
    background-color: rgba(27, 26, 26, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90vw;
    margin-left: .8em;
    margin-right: .8em;
}


#form-h1 {
    text-align: center;
    margin-top: 2em;
    font-size: 80px;
    color: #40c9ff;
}

.input-wrapper {
    position: relative;
    padding: 1rem 0 0;
  }

input {
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 0.25rem 0px;
    padding-right: 2rem;

    background: transparent;
    transition: border-color 0.2s;
}

input::placeholder {
    color: transparent;
}

input:placeholder-shown~.input-label {
    font-size: 1rem;
    cursor: text;
    color: white;
    top: 1.25rem;
}

label,
input:focus~.input-label {
    position: absolute;
    top: 0;
    display: block;
    font-size: 0.875rem;
    left: -0.0625rem;
    color: white;
    transition: 0.3s;
}

input:focus~.input-label {
    color: #40c9ff;
}

input:focus {
    border-bottom: 2px solid white;
}


.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;
}

.members-container p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em
}

.members-container span {
    color: #40c9ff;
}

.members-container img {
    height: 80px;
    width: 80px;
}

#become::after {
    content: unset;
}

.delete-member {
    --glow-color: rgb(214, 36, 36);
    --glow-spread-color: rgb(255, 0, 0);
    --btn-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    color: red;
    border: .25em solid var(--glow-color);
    background-color: var(--btn-color);

}

.delete-member::after {
    content: unset;
}

.edit-member::after {
    content: unset;
}

.delete-member:hover {
    color: black;
    background-color: var(--glow-color);

}

.edit-member {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(240, 240, 240, 0.856);
    --btn-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    color: var(--glow-color);
    border: .25em solid var(--glow-color);
    background-color: var(--btn-color);
}

.edit-member:hover {
    color: black;
    background-color: var(--glow-color);

}

@media only screen and (min-width: 850px) {
    form {
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        padding-bottom: 2em;
        margin-left: 2.3em;
    }

    #become {
        position: relative;
        left: 38%;
    }

    #save {
        position: relative;
        left: 38%;
    }

    .members-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10%;
    }

}

@media only screen and (min-width: 1026px) {
    form {
        font-size: x-large;
    }

    #become {
        left: 12%;
    }

    #save {
        left: 43%;
    }
}