form {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #40c9ff;
    gap: 1em;
    background-color: rgba(27, 26, 26, 0.432);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 95vw;
    margin-left: .4em;
    margin-right: .4em;
}


#form-h1{
    text-align: center;
    margin-top: 2em;
    font-size: 80px;
    color: #40c9ff;
}

input {
    background: none;

    height: 23px;
    width: 200px;
    border-style: groove;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    text-align: center;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;
}

.members-container p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em
}

.members-container span {
    color: #40c9ff;
}

.members-container img {
    height: 80px;
    width: 80px;
}

#become::after{
    content:unset;
}

.delete-member {
    --glow-color: rgb(214, 36, 36);
    --glow-spread-color: rgb(255, 0, 0);
    --btn-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    color: red;
    border: .25em solid var(--glow-color);
    background-color: var(--btn-color);

}

.delete-member::after{
    content: unset;
}

.edit-member::after{
    content: unset;
}

.delete-member:hover {
    color: black;
    background-color: var(--glow-color);

}

.edit-member {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(240, 240, 240, 0.856);
    --btn-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    color: var(--glow-color);
    border: .25em solid var(--glow-color);
    background-color: var(--btn-color);
}

.edit-member:hover{
    color: black;
    background-color: var(--glow-color);

}

@media only screen and (min-width: 850px){
    form{
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding-bottom: 0;
    }

    #become{
        position: relative;
        left: 38%;
    }

    #save{
        position: relative;
        left: 38%;
    }

    .members-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10%;
    }

}

@media only screen and (min-width: 1026px){
    form{
        font-size: x-large;
    }
    
    #become{
        left: 43%;
    }

    #save{
        left: 43%;
    }
}