form {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #40c9ff;
    gap: .6em;
}

#form-h1{
    text-align: center;
    margin-top: 2em;
    font-size: 100px;
    color: #40c9ff;
}

input {
    background: none;

    height: 23px;
    width: 200px;
    border-style: groove;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    text-align: center;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;
}

.members-container p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em
}

.members-container span {
    color: #40c9ff;
}

.members-container img {
    height: 80px;
    width: 80px;
}

.delete-member {
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color-delete),
        0 0 4em 1em var(--glow-spread-color-delete),
        inset 0 0 .75em .25em var(--glow-color-delete);
    text-shadow: 0 0 .5em var(--glow-color-delete);
    color: red;
    border: .25em solid var(--glow-color-delete);
    background-color: var(--btn-color-delete);

}

.delete-member::after{
    content: unset;
}

.edit-member::after{
    content: unset;
}

.delete-member:hover {
    color: black;
    background-color: var(--glow-color-delete);

}

.edit-member {

    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    letter-spacing: 1px;
    box-shadow: 0 0 1em .25em var(--glow-color-edit),
        0 0 4em 1em var(--glow-spread-color-edit),
        inset 0 0 .75em .25em var(--glow-color-edit);
    text-shadow: 0 0 .5em var(--glow-color-edit);
    color: var(--glow-color-edit);
    border: .25em solid var(--glow-color-edit);
    background-color: var(--btn-color-edit);
}

.edit-member:hover{
    color: black;
    background-color: var(--glow-color-delete);

}

@media only screen and (min-width: 850px){
    form{
        font-size: large;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding-bottom: 0;
    }

    #become{
        position: relative;
        left: 38%;
    }

    #save{
        position: relative;
        left: 38%;
    }

    .members-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10%;
    }

}

@media only screen and (min-width: 1026px){
    form{
        font-size: x-large;
    }
    
    #become{
        left: 43%;
    }

    #save{
        left: 43%;
    }
}