rect{
    width: 100% !important;
    height: 100% !important;

}

.DragII {
    display: flex;
    flex-direction: column;
    user-select: none;
}
  
  svg {
    margin: 3rem 0;
    cursor: crosshair;
  }
  
  